{"env": {
	"development": {
		"plugins": ["transform-es2015-modules-commonjs"]
	},
	"test": {
		"presets": ["env", "react"],
      "plugins": ["transform-es2015-modules-commonjs"],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
	}
}}
